<html>
<head>
    <title>PetCare+</title>
</head>
<body>
    <h1 onclick="window.location.href='/'" style="cursor: pointer;">PetCare+</h1>
    <h2>Welcome, {{username}}!</h2>

    <ul>
        <li><a href='/client-mypets'>My Pets</a></li>
        <li><a href='/client-appointments'>Appointments</a></li>
        <li><a href='/client-records'>Visit Records</a></li> <!-- health check, diagnosis, prescription, vaccination-->
        <li><a href='/client-bills'>Bills</a></li>
    </ul>
    
    <button onclick="logout();">logout</button>
    <script src="{{url_for('static', filename='logout.js')}}"></script>
</body>
</html>