<html>
<head>
    <title>PetCare+</title>
</head>
<body>
    <h1><a href='/'>PetCare+</a></h1>
    <h2>Make An Appointment</h2>
    <form action="javascript: appendAppointment();">
        <label><b>Pets</b></label><br>
        <div id="app-pet-multipleselect"></div><br>
    
        <label for="app-branch"><b>Branch</b></label><br>
        <select id="app-branch" name="app-branch" required>
            <option disabled selected value> -- select branch -- </option>
        </select><br>

        <div id="branch-opening-hours-table"><br></div>
    
        <label for="app-doctor"><b>Doctor</b></label><br>
        <select id="app-doctor" name="app-doctor" required>
            <option disabled selected value> -- select doctor -- </option>
        </select><br>

        <div id="doctor-available-hours-table"><br></div>
    
        <label for="app-service"><b>Service</b></label><br>
        <select id="app-service" name="app-service" required>
            <option disabled selected value> -- select service -- </option>
        </select><br><br>

        <label for="app-datetime"><b>Date & Time</b></label><br>
        <input type="datetime-local" id="app-datetime" name="app-datetime" required><br>

        <br>
        <div style="border: 1px solid black; border-radius: 4px; display: inline-block; padding: 2pt" id="existing-app-table"></div>

        <br>
        <br>
        <input id="app-submit" type="submit" value="submit">
    </form> 
    <p id="app-append-result"></p>

    <script src="{{url_for('static', filename='client-appointment-make.js')}}"></script>
</body>
</html>