<html>
<head>
    <title>PetCare+</title>
</head>
<body>
    <h1>PetCare+</h1>
    <h2>Welcome, {{username}}!</h2>

    <ul>
        <li><a href='/client-mypets'>My Pets</a></li>
        <li><a href='/client-appointments'>Appointments</a></li>
        <li><a href='/client-health-check'>Health Check Records</a></li>
        <li><a href='/client-diagnosis'>Dignosis Records</a></li>
        <li><a href='/client-prescription'>Prescription Records</a></li>
        <li><a href='/client-vaccination'>Vaccination Records</a></li>
        <li><a href='/client-bills'>Bills</a></li>
    </ul>
</body>
</html>