<html>
<head>
    <title>PetCare+</title>
    <script src="{{url_for('static', filename='doctor-appointment.js')}}"></script>
    <style>
        table{
            border: 1px solid black;
        }
        th, td {
            border: 1px solid black;
            padding: 4pt;
            margin: 1pt;
        }
        .blocks {
            display: inline-block; 
            vertical-align: top; 
            margin: 0pt 4pt 8pt 0pt;
            padding: 0pt 4pt 0pt 4pt;
            border: 1px solid black; 
            border-radius: 8pt;
            min-width: 300pt;
        }
    </style>
</head>
<body>
    <h1 onclick="window.location.href='/'" style="cursor: pointer;">PetCare+</h1>
    <h2>Welcome, Doctor {{username}}!</h2>

    <div id="appointment-status" style="background-color: #AAFFAA; padding: 4pt; border-radius: 8pt; display: inline-block">
        <span id="appointment-status-text" style="font-size: x-large; font-weight: 800;">Loading</span>
        <button id="complete-and-archive-button" style="display: none; margin-left: 8pt;" onclick="completeAndArchive();">Complete and Archive</button>
        <button id="cancel-button" style="display: none; margin-left: 4pt;" onclick="cancelAppointment();">Cancel Appointment</button>
    </div>

    <div id="this-appointment">
        <div id="appointment-details" data-appointment-id="{{ appointment_id }}" data-pet-id="{{ pet_id }}"></div>

        <div id="pet-selector"></div>
        <br>

        <div class="blocks">
            <form action="javascript: saveHealthCheck();">
                <h3>Health Check</h3>
                <label for="general-observation">General Observation: </label>
                <br><textarea id="general-observation" name="general-observation" style="width: 100%; height: 5em;"></textarea><br>
                <label for="body-temp">Body Temperature: </label>
                <input type="number" id="body-temp" name="body-temp" step="0.1" style="width: 50pt;"><br>
                <label for="pulse-rate">Pulse Rate: </label>
                <input type="number" id="pulse-rate" name="pulse-rate" style="width: 50pt;"><br>
                <label for="notes">Notes: </label>
                <br><textarea id="notes" name="notes" style="width: 100%; height: 5em;"></textarea><br>
                <input id="save-health-check" style="margin-top: 8pt;" type="submit" value="Save">
            </form>
        </div>

        <div class="blocks">
            <form action="javascript: saveDiagnosis();">
                <h3>Diagnosis</h3>
                <label for="symptoms">Symptoms: </label>
                <br><textarea id="symptoms" name="symptoms" style="width: 100%; height: 5em;"></textarea><br>
                <label for="diagnosis">Diagnosis: </label>
                <br><textarea id="diagnosis" name="diagnosis" style="width: 100%; height: 5em;"></textarea><br>
                <label for="treatment-plan">Treatment Plan: </label>
                <br><textarea id="treatment-plan" name="treatment-plan" style="width: 100%; height: 5em;"></textarea><br>
                <label for="follow-up">Follow Up: </label>
                <br><input type="text" id="follow-up" name="follow-up" style="width: 100%;"><br>
                <input id="save-diagnosis" style="margin-top: 8pt;" type="submit" value="Save">
            </form>
        </div>

        <div class="blocks" style="min-width: 0pt;">
            <h3>Vaccination</h3>
            
            <div id="vaccine-list">
                <table>
                    <tr>
                        <th>Vaccine</th>
                        <th>Span</th>
                        <th>Due Date</th>
                        <th>Manage</th>
                    </tr>
                    <tr>
                        <td colspan="4" style="text-align: center; font-style: italic;">No vaccines</td>
                    </tr>
                </table>
            </div>
            
            <br>

            <form action="javascript: addVaccine();" style="padding: 4pt; background-color: #EEEEEE;">
                <label for="vaccine-name">Vaccine: </label>
                <input type="text" id="vaccine-name" name="vaccine-name" onfocus="showVaccineCandidates();" oninput="showVaccineCandidates();" onblur="hideVaccineCandidates();" style="width: 120pt"><br>
                <div id="vaccine-candidates"></div>
                <input id="add-vaccine" style="margin-top: 8pt;" type="submit" value="Add" disabled>
            </form>
            
        </div>

        <div class="blocks">
            <h3>Prescription</h3>

            <div id="prescription-list">
                <table>
                    <tr>
                        <th>Medication</th>
                        <th>Dosage</th>
                        <th>Frequency</th>
                        <th>Duration</th>
                        <th>Notes</th>
                        <th>Manage</th>
                    </tr>
                    <tr>
                        <td colspan="6" style="text-align: center; font-style: italic;">No prescriptions</td>
                    </tr>
                </table>
            </div>
            
            <br>
            
            <form action="javascript: addPrescription();" style="padding: 4pt; background-color: #EEEEEE;">
                <label for="prescription-name">Medication: </label>
                <input type="text" id="prescription-name" name="prescription-name" style="width: 240pt"><br>
                <label for="prescription-dosage">Dosage: </label>
                <input type="text" id="prescription-dosage" name="prescription-dosage" style="width: 80pt;">
                <label for="prescription-frequency">Frequency: </label>
                <input type="text" id="prescription-frequency" name="prescription-frequency" style="width: 80pt;">
                <label for="prescription-duration">Duration: </label>
                <input type="text" id="prescription-duration" name="prescription-duration" style="width: 80pt;"><br>
                <label for="prescription-notes">Notes: </label>
                <br><textarea id="prescription-notes" name="prescription-notes" style="width: 100%; height: 5em;"></textarea><br>
                <input id="add-prescription" style="margin-top: 8pt;" type="submit" value="Add">
            </form>
        </div>
    </div>

    <hr>

    <h2>Past Appointment Records</h2>

    <div id="pet-past-records"></div>

</html>