<html>
<head>
    <title>PetCare+</title>
    <script src="{{url_for('static', filename='doctor-schedule.js')}}"></script>
    <style>
        table{
            border: 1px solid black;
        }
        th, td {
            border-color: black;
            border-style: solid;
            padding: 4pt;
            margin: 1pt;
        }
    </style>
</head>
<body>
    <h1 onclick="window.location.href='/'" style="cursor: pointer;">PetCare+</h1>
    <h2>Welcome, Doctor {{username}}!</h2>

    <div>
        <a href="#" id="prev-week"><< Previous Week</a>
        <span style="display:inline-block; width:16px;"></span>
        <a href="#" id="next-week">Next Week >></a>
    </div>

    <br>

    <div id="doctor-schedule-table"></div>
    
    <br><br>
    <button onclick="logout();">logout</button>
    <script src="{{url_for('static', filename='logout.js')}}"></script>
</body>
</html>