<html>
<head>
    <title>PetCare+</title>
    <script src="{{url_for('static', filename='login.js')}}"></script>
    <style>
        .blocks {
            display: inline-block; 
            vertical-align: top; 
            margin: 0pt 4pt 8pt 0pt;
            padding: 0pt 4pt 0pt 4pt;
            border: 1px solid black; 
            border-radius: 8pt;
            min-width: 100pt;
        }
    </style>
</head>
<body>
    <h1 onclick="window.location.href='/'" style="cursor: pointer;">PetCare+</h1>
    
    <div class="blocks">
        <h2>Login</h2>
        <form action="javascript: submitLogin();">
            <label for="username">Username</label><br>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" required><br><br>
            <input type="submit" value="Log In">
        </form> 

        <button onclick="randomUserLogin();">Log in with random user (debug)</button><br>
        <button onclick="randomDoctorLogin();">Log in with random doctor (debug)</button>

        <p id="login-result"></p>
    </div>

    <br>

    <div class="blocks">
        <h2>Register</h2>
        <form action="javascript: submitRegister();">
            <label for="r-username">Username</label><br>
            <input type="text" id="r-username" name="r-username" required><br>
            <label for="r-password">Password</label><br>
            <input type="password" id="r-password" name="r-password" required><br>
            <label for="r-contact">Contact</label><br>
            <input type="text" id="r-contact" name="r-contact"><br>
            <label for="r-email">Email</label><br>
            <input type="text" id="r-email" name="r-email"><br><br>
            <input type="submit" value="Register">
        </form> 

        <p id="register-result"></p>
    </div>
</body>
</html>